:root {
    --card-1-bg: hsl(31, 77%, 52%);
    --card-2-bg: hsl(184, 100%, 22%);
    --card-3-bg: hsl(179, 100%, 13%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    background-color: hsl(0, 0%, 95%);
    color: hsla(0, 0%, 100%, 0.75);
}
img {
    display: block;
    width: 100%;
    height: auto;
}
button {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0.6em 0 0.6em 0;
    margin: 0;
    line-height: 1.4;
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display", cursive;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em;
}

.card {
    padding: 3em;
    max-width: 600px;
}
.card:nth-child(1) {
    background-color: var(--card-1-bg);
    border-radius: 8px 8px 0 0;
}
.card:nth-child(2) {
    background-color: var(--card-2-bg);
}
.card:nth-child(3) {
    background-color: var(--card-3-bg);
    border-radius: 0 0 8px 8px;
}

.card-header {
    font-size: 2.2rem;
    text-transform: uppercase;
}

.card-text {
    line-height: 1.6;
}

.card-button {
    background-color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 2em;
    padding: 0.7em 2em;
    margin-top: 2em;
    cursor: pointer;
    transition: background 0.5s, color 0.5s ease-out;
}

.card:nth-child(1) button {
    color: var(--card-1-bg);
}
.card:nth-child(2) button {
    color: var(--card-2-bg);
}
.card:nth-child(3) button {
    color: var(--card-3-bg);
}

.card .card-button:hover {
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

.attribution {
    text-align: center;
    color: var(--card-3-bg);
}

.attribution a {
    text-decoration: none;
    color: var(--card-2-bg);
}

.attribution a:hover {
    opacity: 0.6;
}

@media screen and (min-width: 960px) {
    main {
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }
    .center-hv {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card {
        max-width: 300px;
        padding: 4em 3em;
    }

    .card:nth-child(1) {
        background-color: var(--card-1-bg);
        border-radius: 8px 0 0 8px;
    }
    .card:nth-child(2) {
        background-color: var(--card-2-bg);
    }
    .card:nth-child(3) {
        background-color: var(--card-3-bg);
        border-radius: 0 8px 8px 0;
    }
    .card-button {
        margin-top: 6em;
    }
}
